.boton-barra-menu{
    background-color: rgb(202, 46, 46);
    height: 30%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.642);
    text-align: justify;
    padding: 14px;
    border: none;
    transition: 0s background-color color;
    transition-delay: 0.3s;
    transition-timing-function: ease-in;
    transition-duration: 0.7s;

}

.boton-barra-menu:hover{
    background-color: brown;
    color: white;
    border-radius: 5px;
}

.barra-menu{
    background-color: rgb(202, 46, 46);
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recuadro-login-signup{
    height: 400px;
    width: 400px;
    border-radius: 4px;
    background-color: azure;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.283);
}

.campos-formulario{
    margin: 0 auto;
    padding: 30px;
}

.boton-submit-formulario{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 10%;
    padding: 6px;
    border-radius: 2px;
    background-color: rgb(202, 98, 98);
}

.formulario-registrar{
    display: block;
    margin-top: 80px;
    margin-left: 2%;
}

.alert{
    display: flex;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
    border-radius: 5px;
    padding: 1%;
    text-align: center;
    background-color: rgba(227, 81, 81, 0.728);
    color: rgba(0, 0, 0, 0.361);
}

body{
    margin: 0;
    background-color: rgba(255, 255, 255, 0.941);
}

p{
    margin: 4px;
}