<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <title>{% block title %}Pagina Home{% endblock %}</title>
    </head>

    <header>
        <div class="barra-menu">
            <a href="/" class="boton-barra-menu">Inicio</a>
            <a href="/lista_compra" class="boton-barra-menu">Mi lista de la compra</a>
            <a href="/auth/login" class="boton-barra-menu">Iniciar sesión</a>
            <a style="width: 20px; background-size: cover; margin: 0 auto; margin-right: 5%; background-image: url('https://2.bp.blogspot.com/-1cucUfA4dXI/XBgZ3ZZhAaI/AAAAAAAABL4/GZg3WXEHvkIMze-xMlRPqeot1yJ_QqaSgCLcBGAs/s1600/lupa-blanca.png')" class="boton-barra-menu"></a><!--Aquí estará el buscador producto con logo de lupa-->
        </div>
    </header>
    
    <body>
        {% block body %}<p>Esto es mi body!</p>{% endblock %}
    </body>




</html>