{% extends "base_template.html" %}
{% block title %}Cambiado{% endblock %}

{% block body %}
<!--Aquí estarán las categorías de productos después del header-->

<div class="div-categorias">

    {% for categoria in categorías %}
            <!--Variables categorías:-->
            {% set nom_categoría = categoria[0] %}
            <div style="background-color: bisque;" class="div-div-categoria">
                <a href="/{{nom_categoría}}">
                    <div class="div-categoria-top">
                        <img class="img-categoria" src="{{ url_for('static', filename='img-categorias/' ~ nom_categoría ~ '.svg') }}">
                    </div>
        
                    <div class="div-categoria-down">
                        <p>{{nom_categoría}}</p> 
                    </div>    
                </a>
            </div>
    {% endfor %}

</div>

<h1>{{categoría_sel}}</h1>

<div class="div-categorias-izq">
    {% for cat, subcats in dict_categorías.items() %}
        {% if cat in categoría_sel %} <!--Si esta seleccionado print-->
            <ul>
                <h4><a href="/{{cat}}">&#9658; {{ cat }}</a></h4>
                {% for subcat in subcats %}
                <li><a href="/subcategoria/{{subcat}}">{{ subcat }}</a></li>
                {% endfor %}
            </ul>
            <br><br>
        {% endif %}


        {% if not cat in categoría_sel %} <!--Si no esta seleccionado print-->
            <ul>
                <h4><a href="/{{cat}}">{{ cat }}</a></h4>
                {% for subcat in subcats %}
                {% if subcat==categoría_sel %}
                <li><a href="/subcategoria/{{subcat}}">&#9658; {{ subcat }}</a></li>
                {% else %}
                <li><a href="/subcategoria/{{subcat}}">{{ subcat }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>
        {% endif %}


    {% endfor %}
</div>


<div class="div-categorias-der">
    <div class="grid-ofertas">

        {% for articulo in artículos %}
            <!--Variables artículos:-->
            {% set id_articulo = articulo[0] %}
            {% set nombre_articulo = articulo[1] %}
            {% set peso_articulo = articulo[3] %}
            {% set precio_peso = articulo[2] %}
            {% set precio_articulo = articulo[4] %}
    
            <div class="div-articulo">
                <div class="div-div-articulo">
                    <img class="div-img-articulo" src="{{ url_for('static', filename='img-productos/' ~ id_articulo ~ '.jpg') }}">
                    <p class="titulo-articulo"> {{ nombre_articulo }} {{ peso_articulo }}</p>
                </div>
    
                <div class="div-div-articulo">
                    <div class="div-div-abajo-articulo" style="height: 25%; background-color: seagreen;">
                        <br>
                        <a class="combina-con">Combina con > </a><span class="precio-kilo">{{ precio_peso }}€</span>
                    </div>
    
                    <div class="div-div-abajo-articulo" style="height: 25%; background-color: darkgray;">
                        <div class="div-descuento">
                            <p style="font-size: 11px;">2 unidad</p>
                            <span style="font-size: 18px;">-50%</span>
                        </div>
                        
                        <h3 class="precio-unidad">{{ precio_articulo }}€</h3>
                    </div>
    
                    <div class="div-div-abajo-articulo" style="height: 50%; background-color: coral;">
                        <form class="formulario-unidades" action="" method="post">
                            <input style="display: none;" type="text" name="id_articulo" value="1">
                            <input class="unidades-articulo" type="number" name="cantidad" id="id_cantidad"> <input class="boton-enviar-uds" type="submit" value="Añadir">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>






{% endblock %}
