{% extends "base_template.html" %}
{% block title %}Cambiado{% endblock %}

{% block body %}

<h2>¿Hola! te damos la bienvenida a la app de compra de BIB BIP</h2><br>
<button>Iniciar Sesión</button> <button>Registrarse</button><br>

<div class="cupones-descuento">
    <div class="texto-cupon">
        <h2><span style="font-size: 150%;">20</span> Eur de reglado</h2><br>
        <h4>en tus 2 primeros pedidos</h4>
        <p>Valido para las dos primeras compras superiores a 100 Eur, realizada hasta el 22 de noviembre de 2023</p>
    </div>

    <div class="cupones">
        <div class="cupon1">
            <h1>10</h1>
            <h3>Euros</h3>
            <h5>1º compra</h5>
            <h5>AQUI CODIGO</h5>
        </div><br>
        <div class="cupon2">
            <h1>10</h1>
            <h3>Euros</h3>
            <h5>1º compra</h5>
            <h5>AQUI CODIGO</h5>
        </div>
        
    </div>
</div>

<div class="envio-gratis">
    <div class="envio">
        <div class="dentro-envio">
            <h1 class="titulo-subtitulo-envio">RECOGIDA CASI GRATIS</h1><br>
            <h3 class="titulo-subtitulo-envio" style="height: 20%;">¡Recogida 80% precio menos que envió a domicilio!</h3><br>
            <a class="boton-envio-gratis">VER ARTÍCULOS &#9658;</a>
        </div>
        <div class="img-articulo-envio">
            <img style="height: 65%; display: block; max-width: 100%; max-height: 100%;" src="https://supermercado.eroski.es/ero_banner/img/bannerweb-unilever-marzo2023-naturahila50b.png">
        </div>
    </div>

    <div class="envio">
        <div class="dentro-envio">
            <h1 class="titulo-subtitulo-envio">ENVIÓ GRATIS</h1><br>
            <h3 class="titulo-subtitulo-envio" style="height: 20%;">¡El primer envió a domicilio es gratis!, valido hasta el 12/23</h3><br>
            <a class="boton-envio-gratis">VER ARTÍCULOS &#9658;</a>
        </div>
        <div class="img-articulo-envio">
            <img style="height: 65%; display: block; max-width: 100%; max-height: 100%;" src="https://supermercado.eroski.es/ero_banner/img/bannerweb-pepsico-octubre2023-naturahila50b.png">
        </div>
    </div>
</div>

<div class="grid-ofertas">
    <div class="div-articulo">
        <div class="div-div-articulo">
            <img class="div-img-articulo" src="https://supermercado.eroski.es/images/22316988.jpg">
            <p class="titulo-articulo">Bebible de fresa-frambuesa YOPRO, botella 300g</p>
        </div>

        <div class="div-div-articulo">
            <div class="div-div-abajo-articulo" style="height: 25%; background-color: seagreen;">
                <br>
                <a class="combina-con">Combina con > </a><span class="precio-kilo">1 KILO A 8.17 €</span>
            </div>

            <div class="div-div-abajo-articulo" style="height: 25%; background-color: darkgray;">
                <div class="div-descuento">
                    <p style="font-size: 11px;">2 unidad</p>
                    <span style="font-size: 18px;">-50%</span>
                </div>
                
                <h3 class="precio-unidad">2.45€</h3>
            </div>

            <div class="div-div-abajo-articulo" style="height: 50%; background-color: coral;">
                <form class="formulario-unidades" action="" method="post">
                    <input style="display: none;" type="text" name="id_articulo" value="1">
                    <input class="unidades-articulo" type="number" name="cantidad" id="id_cantidad"> <input class="boton-enviar-uds" type="submit" value="Añadir">
                </form>
            </div>
        </div>
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>

    <div class="div-articulo">
        hey
    </div>
</div>



{% endblock %}
